

:root {
  --border-radius: 5rem;
  --image-scale: 0.5;
  --card-width: 8%;
  --active-card-width: 85%;
  --card-height: 80vh;
  --transition-time: 0.3s;
  --card-icon-bottom: 30px;
  --card-icon-left: 50%;
  --active-card-icon-left: 2rem;
}


.container {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.card {
  width: var(--card-width);
  transition: all var(--transition-time) linear;
  position: relative;
  max-height: 50rem;
  background-color: #FFF3E4;
  border: none;
}


.card:hover {
  width: var(--active-card-width);
  scale: 1.04;
}

.active{
  width: var(--active-card-width);
  height: 100%;
}

.staged-active{
    width: 40%;
    height: 100%;
}


.card .card-icon-container {
  position: absolute;
  padding: 2.2rem;
  border: 5px solid white;
  bottom: var(--card-icon-bottom);
  left: var(--card-icon-left);
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}



.card-icon{
  scale: 3;
}


.card-icon-text{
  transform: translateX(-30%);
  font-size: 1.5rem;
  font-weight: bold;
}


.shop-icon-text{
  transform: translateX(-25%);
  font-size: 2.5rem;
  font-weight: bold;
}

.card-icon-container{
  max-width: 18rem;
  max-height: 10rem;
  background-color: #EED6C4;
  cursor: pointer;
  border-radius: 50%;
}
 

.shop-container{
  max-width: 16rem;
  max-height: 10rem;
  background-color: #EED6C4;
  cursor: pointer;
  border-radius: 2rem;
}



.card-icon-container:hover{
 scale: 1.1;
}

.card:hover .card-icon-container {
  border-radius: 2rem;
  left: var(--active-card-icon-left);
  transform: translateX(0);
}

.card .card-icon-container > span {
  color: var(--brownColor);
  margin: 20px;
  display: none;
}

.card:hover .card-icon-container > span {
  display: block;
  opacity: 0;
  animation: fade 1s linear 0.5s forwards;
}


.card p {
  position: absolute;
  color: white;
  bottom: 30%;
  z-index: 12;
  padding: 3rem;
  font-size: 1.7rem;
  display: none;
  text-align: justify;
  cursor: default;
}

.card:hover p {
  display: block;
  opacity: 0;
  animation: fade 1s linear 0.5s forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card .card-image {
  width: 100%;
  height: var(--card-height);
  object-fit: cover;
  object-position: center;
  border-radius: var(--border-radius);
  border: 2px solid white;
}



.card:hover .card-image {
  filter: brightness(40%);
}



@media only screen and (max-width: 600px){
  .container{
    flex-wrap: wrap;
    flex-direction: column;
  }

  .card{
    width: 84%;
    left: 8%;
    margin-bottom: 1rem;
  }

  .active{
    width: 30rem;
  }

  .shop-container{
    border-radius: 50%;
  }

  .card-icon-container{
    border-radius: 2rem;
  }

}
@media only screen and (min-width: 600px){
  .shop-container{
    border-radius: 2rem;
  }
  #shop-icon{
    scale: 2.5;
  }
}

@media only screen and (min-width: 800px){
  #shop-icon{
    scale: 2.5;
  }

}