/*

COLOURS:
rgb(72, 52, 52)
rgb(107, 79, 79)
rgb(238, 214, 196)
rgb(255, 243, 228)
#003c71
#1f5a90
#111
#222
#eee

#feb81c
#54e4ea
#fffde8
#0de894
#ffba5a

*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* VARIABLES */

:root {
  /* Text Variables */
  --headingText: "Oswald", sans-serif;
  --bodyText: "Work Sans", sans-serif;

  /* Colour Variables */
  --brownColor: rgb(72, 52, 52);
  --brownHoverColor: rgb(107, 79, 79);
  --mainBodyColor: rgb(255, 243, 228);
  --lightBrown: rgb(238, 214, 196);
  --blueColor: #003c71;
  --blueHoverColor: #1f5a90;
  --darkColor: #111;
  --shadowColor: #222;
  --lightColor: #eee;
  --textShadow: rgba(34, 34, 34, 0.25);

  /* Colour Story Variables */
  --storyMain: #feb81c;
  --storyShip: #54e4ea;
  --storySeattle: #fffde8;
  --storyCat: #0de894;
  --storyBag: #ffba5a;
}

button {
  padding: 0;
  border: none;
  font-family: var(--headingText);
  text-transform: uppercase;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: 0;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: var(--bodyText);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--darkColor);
  background-color: var(--mainBodyColor);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 
}

img{
    width: 100%;
    border-top-left-radius: 0.9rem;
    border-top-right-radius: 0.9rem;
}


h1 {
  text-transform: uppercase;
  font-family: var(--headingText);
  letter-spacing: 0.4rem;
}

h2 {
  font-family: var(--headingText);
  font-weight: 500;
  color: var(--brownColor);
  font-size: 3rem;
}

/* Header Section */

#nav-bar {
  text-align: center;
  position: absolute;
  display: block;
  top: 3%;
  right: 2%;
  height: 5rem;
  color: var(--brownColor);
}

.nav-link__container {
  -webkit-transform: translateY(10%);
  transform: translateY(10%);
}

.nav-list {
  font-family: var(--headingText);
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 1rem;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-shadow: var(--textShadow);
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.nav-list a:hover {
  border-top: 0.4rem solid var(--brownHoverColor);
  padding: 0.5rem 1rem;
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
}

#header {
  height: 85rem;
  position: relative;
  font-weight: 600;
  color: var(--brownColor);
}

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#header-img {
  height: 15rem;
  scale: 2;
  max-width: 20rem;
}

.heading-primary {
  color: var(--brownColor);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary-main {
  display: block;
  font-size: 7rem;
  letter-spacing: 1rem;
  margin-bottom: 4rem;
  text-shadow: 0.5rem 0.5rem 0.4rem var(--textShadow);
}
.heading-primary-sub{
    font-size: smaller;
    color: var(--brownHoverColor)
}

#coverLine {
  display: inline-block;
  border-top: 0.5rem solid var(--brownColor);
  padding: 0.4rem;
  margin: 1.5rem 2rem;
  font-size: small;
}

/* Main Content Section */

.content-container {
  position: relative;
  background-color: inherit;
  min-height: 100vh;
  height: 100%;
  color: var(--brownColor);
}

.main-content {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}

.main__content-bg {
  height: 8rem;
  width: 50rem;
  -webkit-transform: translateY(15rem);
  transform: translateY(15rem);
  margin-bottom: 20rem;
  background-color: var(--blueColor);
  -webkit-clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0 100%, 5% 50%, 0 0);
  clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0 100%, 5% 50%, 0 0);
  color: var(--lightColor);
  display: inline-block;
}

.main__content-header {
  -webkit-transform: translateY(30%);
  transform: translateY(30%);
}

.main__content-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 5rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flexbox {
  border-radius: 1rem;
  border: 0.1rem solid rgba(34, 34, 34, 0.2);
  -webkit-box-shadow: 0 0 3rem 0.4rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3rem 0.4rem rgba(0, 0, 0, 0.1);
  height: 60rem;
  max-width: 40rem;
  background-position: center 2rem;
  background-repeat: no-repeat;
  background-size: 25rem;
  margin: 3rem;
  -ms-flex-preferbrown-size: 40rem;
  flex-basis: 40rem;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  max-width: 100%;
  max-height: 70vh;
}

.flex-container:hover{
    scale: 0.997;
}

.flex-container {
  -ms-flex-preferbrown-size: 25rem;
  flex-basis: 30;
  max-width: 100%;
}


.learn-more {
  font-size: 3rem;
  color: var(--brownColor);
  border-top: 1px solid var(--brownHoverColor);
  border-bottom: 1px solid var(--brownHoverColor);
}

.follow-btn, .inspiration-btn, .shop-btn{
    position: absolute;
    transform: translateY(100%);
    right: 20%;
    opacity: 0.4;
}

.follow-btn:hover, .inspiration-btn:hover, .shop-btn:hover{
    opacity: 1;
}



.shop, .inspiration {
    max-width: 60%;
    max-height: 80vh;
}

.shop img{
    max-width: 100%;
}

.shop p,.inspiration-text{
    transform: translateY(2rem);
    width: 70%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

.follow{
    margin-top: 15%;
}



/* STORY START */

.story-wrap {
  position: relative;
  background-color: inherit;
  min-height: 100vh;
  margin-top: 5rem;
  line-height: 2;
  font-weight: 900;
}

.story-bg {
  background-color: var(--lightBrown);
  padding: 1rem;
  margin: 0 auto;
}


.ours{
    background: linear-gradient(0deg, #eed6c5 0%, rgba(255,243,228,1) 100%);
}



.story-row {
  width: 80%;
  margin: 11rem auto 15rem;
  text-align: right;
}

.story-row.textLeft {
  text-align: left;
}

.story-img {
  width: 25rem;
  margin: 0 auto;
  float: left;
  scale: 1.5;

}


.story-img.floatRight {
  float: right;
  -webkit-transform: translate(2rem, -3rem);
  transform: translate(2rem, -3rem);
}

.story-heading {
  text-decoration: overline;
  cursor: default;
}

.story-text {
  margin-top: 2rem;
  cursor: default;
}

/* CONTACT SECTION */



.content-container h1{
    padding-top: 25%;
    background: none;
    background: rgb(255,243,228);
    background: linear-gradient(0deg, rgba(255,243,228,1) 0%, #eed6c5 100%);
}

.contact-section {
  position: relative;
  background-color: inherit;
  min-height: 50vh;
  padding-top: 2rem;
}

.contact-text {
  display: inline-block;
  width: 60%;
  font-size: 2rem;
  line-height: 1.7;
}

.emoji {
  display: block;
  font-size: 6rem;
  cursor: default;
}

.emoji:hover{
    scale: 1.15;
    cursor: default;
}


#form {
  display: block;
}

#email {
  height: 4rem;
  width: 30rem;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
}

#email:focus {
  outline: solid 2px var(--brownColor);
}

#submit {
  outline: none;
  border: none;
  border-radius: 1rem;
  background-color: var(--brownColor);
  color: var(--lightColor);
  display: block;
  margin: 2rem auto;
  width: 14rem;
  height: 5rem;
  padding: 1rem;
  font-family: inherit;
  text-align: center;
  font-size: inherit;
  text-transform: uppercase;
}


#submit:hover {
  background-color: var(--brownHoverColor);
}

/* FOOTER START */

.footer-gap {
  min-height: 0;
  background-color: inherit;
}

#footer {
  position: relative;
  min-height: 20rem;
  height: 100%;
  text-align: center;
  cursor: default;
}

.footer-img {
  width: 15rem;
  margin: 15rem 0 5rem;
}

.footer-img:hover {
  -webkit-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.footer-text {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 10%;
  width: 90%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: var(--brownColor);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.fcc {
  display: block;
}


/* MEDIA QUERIES */



@media (max-width: 767px), (max-height: 690px) {


  .main__content-bg {
    height: 10rem;
    width: 100%;
    -webkit-clip-path: none;
    clip-path: none;
  }

  .main__content-header {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
  }

  .flex-box{
    height: 40vh;
  }
}

@media (max-height: 690px) {
  .footer-gap {
    min-height: 10vh;
    background-color: inherit;
  }
}

@media (min-width: 1024px) {
    .shop{
        margin-bottom: 25rem;
    }
  }

@media (max-width: 500px) {
    .inspired{
        font-size: 2.4rem;
    }

    .shop {
        max-width: 100%;
        max-height: 44rem;
    }
  .story-heading {
    clear: both;
  }


  .heading-primary-main {
    display: block;
    font-size: 4rem;
    letter-spacing: 1rem;
    margin-bottom: 4rem;
    text-shadow: 0.5rem 0.5rem 0.4rem var(--textShadow);
  }

  .heading-primary-sub {
    font-size: 1rem;
  }

  #coverLine {
    border-top: 0.3rem solid var(--brownColor);
  }

  #nav-bar {
    right: 2rem;
  }

  .nav-list {
    font-size: 1.2rem;
  }
}
